{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/profile/user-profile.css' %}" />
    <title>{{ other_user.username }}'s-Profile</title>
  </head>
  <body>
    <div class="user-profile">
      <div class="header">
        <div class="back-btn">
          <svg
            onclick="historyBack()"
            xmlns="http://www.w3.org/2000/svg"
            height="40px"
            viewBox="0 -960 960 960"
            width="40px"
            fill="var(--text-72)"
          >
            <path
              d="M287-446.67 503.67-230q10 10 9.83 23.33-.17 13.34-10.17 23.34-10 9.66-23.33 9.83-13.33.17-23.33-9.83L183.33-456.67q-5.33-5.33-7.5-11-2.16-5.66-2.16-12.33t2.16-12.33q2.17-5.67 7.5-11l273.34-273.34q9.66-9.66 23.16-9.66t23.5 9.66q10 10 10 23.5t-10 23.5L287-513.33h479.67q14.33 0 23.83 9.5 9.5 9.5 9.5 23.83 0 14.33-9.5 23.83-9.5 9.5-23.83 9.5H287Z"
            />
          </svg>
        </div>

        <h2>{{ other_user.username }}'s profile</h2>

        <a href="chat.html" class="notification-bar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="32px"
            viewBox="0 -960 960 960"
            width="32px"
            fill="var(--text-72)"
          >
            <path
              d="M193.33-200q-14.16 0-23.75-9.62-9.58-9.61-9.58-23.83 0-14.22 9.58-23.72 9.59-9.5 23.75-9.5H240v-296q0-83.66 49.67-149.5Q339.33-778 420-796v-24q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v24q80.67 18 130.33 83.83Q720-646.33 720-562.67v296h46.67q14.16 0 23.75 9.62 9.58 9.62 9.58 23.83 0 14.22-9.58 23.72-9.59 9.5-23.75 9.5H193.33ZM480-501.33ZM480-80q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM306.67-266.67h346.66v-296q0-72-50.66-122.66Q552-736 480-736t-122.67 50.67q-50.66 50.66-50.66 122.66v296Z"
            />
          </svg>
          <div class="red-dot"></div>
        </a>
      </div>
      <div class="profile">
        <div class="picture">
          {% if other_user.profile_picture %}
          <img
            src="{{ other_user.profile_picture.url }}"
            alt="Profile Picture"
          />
          {% else %}
          <img src="{% static 'images/blank-pp.png' %}" alt="Profile Picture" />
          {% endif %}
        </div>

        <div class="detail-con">
          <div class="details">
            <p>Full Name:</p>
            <strong> {{ other_user.full_name}} </strong>
          </div>
          <div class="details">
            <p>Username:</p>
            <strong>@{{ other_user.username }}</strong>
          </div>
          <div class="details">
            <p>Bio:</p>
            <strong>{{ other_user.bio|default:"No bio available" }}</strong>
          </div>
        </div>

        <a
          href="{% url 'start-private-chat' other_user.id %}"
          class="btn btn-primary"
          >Chat with {{ other_user.username }}</a
        >
      </div>

      <div class="about-user">
        <div class="about-nav">
          <input
            type="radio"
            name="about-nave"
            id="user-post"
            checked
            style="display: none"
          />
          <label for="user-post">Post</label>
          <input
            type="radio"
            name="about-nave"
            id="group-owner"
            style="display: none"
          />
          <label for="group-owner">Group</label>
        </div>
        <div class="post-con">
          {% if posts %} {% for post in posts %}
          <div class="post">
            <div class="post-profile">
              <div class="picture">
                {% if other_user.profile_picture %}
                <img
                  src="{{ other_user.profile_picture.url }}"
                  alt="Profile Picture"
                />
                {% else %}
                <img
                  src="{% static 'images/blank-pp.png' %}"
                  alt="Profile Picture"
                />
                {% endif %}
              </div>

              <div class="detail">
                <p>{{ other_user.full_name }}</p>
                <p>@{{ other_user.username }}</p>
              </div>
            </div>
            <div class="post-content">
              <p>{{ post.post_body }}</p>
            </div>
            <button type="button" class="see-more-btn">See More</button>
            <div class="post-img">
              {% if post.post_image %}
              <img src="{{ post.post_image.url }}" alt="Post Image" />
              {% endif %}
            </div>

            <div class="post-engagement">
              <div class="engagement-pair">
                <button type="button" class="like">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="44px"
                    viewBox="0 -960 960 960"
                    width="44px"
                    fill="var(--text-72)"
                  >
                    <path
                      d="M480-142.33q-12 0-24.17-4.34Q443.67-151 434.67-160l-58.34-53.67q-118-109-207.16-210.5Q80-525.67 80-640q0-91.33 61.33-152.67 61.34-61.33 152-61.33Q345-854 394-830.17q49 23.84 86 74.17 40.33-50.33 87.33-74.17 47-23.83 99.34-23.83 90.66 0 152 61.33Q880-731.33 880-640q0 114.33-89 216T583.33-213.33l-58 53.33q-9 9-21.16 13.33-12.17 4.34-24.17 4.34Z"
                    />
                  </svg>
                  <p>{{ post.count_likes }}</p>
                </button>

                <a href="#" class="comment">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="44px"
                    viewBox="0 -960 960 960"
                    width="44px"
                    fill="var(--text-72)"
                  >
                    <path
                      d="M273.33-400h413.34q14.16 0 23.75-9.62 9.58-9.61 9.58-23.83 0-14.22-9.58-23.72-9.59-9.5-23.75-9.5H273.33q-14.16 0-23.75 9.62-9.58 9.62-9.58 23.83 0 14.22 9.58 23.72 9.59 9.5 23.75 9.5Zm0-126.67h413.34q14.16 0 23.75-9.61 9.58-9.62 9.58-23.84 0-14.21-9.58-23.71-9.59-9.5-23.75-9.5H273.33q-14.16 0-23.75 9.61-9.58 9.62-9.58 23.84 0 14.21 9.58 23.71 9.59 9.5 23.75 9.5Zm0-126.66h413.34q14.16 0 23.75-9.62 9.58-9.62 9.58-23.83 0-14.22-9.58-23.72-9.59-9.5-23.75-9.5H273.33q-14.16 0-23.75 9.62-9.58 9.61-9.58 23.83 0 14.22 9.58 23.72 9.59 9.5 23.75 9.5ZM146.67-240q-27 0-46.84-19.83Q80-279.67 80-306.67v-506.66q0-27 19.83-46.84Q119.67-880 146.67-880h666.66q27 0 46.84 19.83Q880-840.33 880-813.33v653q0 22.12-20.5 30.73-20.5 8.6-36.17-7.07L720-240H146.67Z"
                    />
                  </svg>
                  <p>Comment</p>
                </a>
              </div>

              <button type="button" class="save">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="44px"
                  viewBox="0 -960 960 960"
                  width="44px"
                  fill="var(--text-72)"
                >
                  <path
                    d="m480-240-186.67 80Q260-145.67 230-165.5T200-221v-555.67q0-27 19.83-46.83 19.84-19.83 46.84-19.83h426.66q27 0 46.84 19.83Q760-803.67 760-776.67V-221q0 35.67-30 55.5t-63.33 5.5L480-240Z"
                  />
                </svg>
                <p>{{ post.count_bookmarks }}</p>
              </button>
            </div>
          </div>
          {% endfor %} {% else %}
          <p>{{ other_user.username }} has no posts.</p>
          {% endif %}
        </div>

        <div class="group-con">
          {% if groupchat %}
          <!--  -->
          {% for group in groupchat %}
          <!--  -->
          {% if current_user in groupchat %}
          <a href="{% url 'group-chat' group.group_id %}" class="group-card">
            <div class="group-pic">
              {% if group.group_photo %}
              <img src="{{ group.group_photo.url }}" alt="profile picture" />
              {% else %}
              <img
                src="{% static 'images/blank-pp.png' %}"
                alt="profile picture"
              />
              {% endif %}
            </div>
            <div class="group-detail">
              <p class="group-name">{{ group.group_name }}</p>
              <p class="group-description">{{ group.description }}</p>
            </div>
          </a>
          {% else %}
          <div class="group-card">
            <div class="group-pic">
              {% if group.group_photo %}
              <img src="{{ group.group_photo.url }}" alt="profile picture" />
              {% else %}
              <img
                src="{% static 'images/blank-pp.png' %}"
                alt="profile picture"
              />
              {% endif %}
            </div>
            <div class="group-detail">
              <p class="group-name">{{ group.group_name }}</p>
              <p class="group-description">{{ group.description }}</p>
            </div>

            {% if not request.user in group.members.all %}
            <a
              href="{% url 'join-group' group.group_id %}"
              class="join-group-btn"
            >
              Join
            </a>
            {% endif %}
          </div>
          {% endif %} {% endfor %} {% else %}
          <p>{{ other_user.username }} is not a member of any groups.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
  <script src="{% static 'js/chat/chat.js' %}"></script>
  <script src="{% static 'js/theme.js' %}"></script>
</html>
