{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/home/term-conditions.css' %}" />
    <title>Conveza | Term-Conditions</title>
  </head>
  <body>
    <div class="header">
      <div class="back-btn">
        <svg
          onclick="historyBack()"
          xmlns="http://www.w3.org/2000/svg"
          height="40px"
          viewBox="0 -960 960 960"
          width="40px"
          fill="var(--text-72)"
        >
          <path
            d="M287-446.67 503.67-230q10 10 9.83 23.33-.17 13.34-10.17 23.34-10 9.66-23.33 9.83-13.33.17-23.33-9.83L183.33-456.67q-5.33-5.33-7.5-11-2.16-5.66-2.16-12.33t2.16-12.33q2.17-5.67 7.5-11l273.34-273.34q9.66-9.66 23.16-9.66t23.5 9.66q10 10 10 23.5t-10 23.5L287-513.33h479.67q14.33 0 23.83 9.5 9.5 9.5 9.5 23.83 0 14.33-9.5 23.83-9.5 9.5-23.83 9.5H287Z"
          />
        </svg>
      </div>

      <h2>Term-Conditions</h2>
      <div class="current-user-profile">
        {% if user.profile_picture %}
        <img src="{{ user.profile_picture.url }}" alt="Profile Picture" />
        {% else %}
        <img src="{% static 'images/blank-pp.png' %}" alt="profile picture" />

        {% endif %}
      </div>
    </div>
    <div class="term-conditions-con">
      <p>
        By accessing and using Conveza, you agree to comply with and be bound by
        these Terms of Service. If you do not agree with these terms, please do
        not use our service.
      </p>
      <br />
      <p>Use of Our Service</p>
      <ul>
        <li>
          Eligibility: You must be at least 13 years old to use Conveza. By
          using our service, you confirm that you meet this age requirement.
        </li>
        <li>
          Account Responsibilities: You are responsible for maintaining the
          confidentiality of your account information and for all activities
          that occur under your account.
        </li>
        <li>
          Prohibited Activities: You agree not to use Conveza for any unlawful
          or prohibited activities. This includes but is not limited to
          spamming, harassment, and any form of abusive behavior.
        </li>
        <li>
          Content: You are responsible for the content you post and share on
          Conveza. You must not post content that is defamatory, obscene, or
          infringes on the rights of others.
        </li>
        <li>
          Ownership: All content, trademarks, and other intellectual property on
          Conveza are owned by us or our licensors. You may not use our
          intellectual property without permission.
        </li>
        <li>
          Licenses: By posting content on Conveza, you grant us a non-exclusive,
          royalty-free license to use, display, and distribute that content
          within our platform. If we use your content for monetization purposes,
          we will share the profits with you.
        </li>
        <li>
          Content Monetization: If your content is used for monetization
          purposes, such as in advertisements or promotional materials, we will
          share any profit generated with you.
        </li>

        <li>
          Group Ads: We may display ads in groups within Conveza. Profits
          generated from these ads will be split with the respective groups
          according to our policy.
        </li>
        <br />
      </ul>

      <p>
        To the extent permitted by law, Conveza is not liable for any indirect,
        incidental, special, or consequential damages that may arise from your
        use of our service.
      </p>
      <br />
      <p>
        We reserve the right to suspend or terminate your account if you violate
        these Terms of Service or if we believe that your use of Conveza poses a
        risk to our platform or other users.
      </p>
      <br />

      <p>
        We may update these Terms of Service from time to time. Changes will be
        posted on this page, and it is your responsibility to review them
        periodically.
      </p>
      <br />
      <p>
        Any disputes arising out of or related to these Terms of Service will be
        resolved in accordance with the laws of Addis Abeba.
      </p>
      <br />
      <p>
        If you have any questions about these Terms of Service, please contact
        us at: Email: [Your Contact Email]
      </p>
    </div>
  </body>
  <script src="{% static 'js/theme.js' %}"></script>
</html>
