body {
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: left;
    margin: 0%;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* gap: 8px; */
    height: 100vh;
    overflow: hidden;
    padding: 0px 16px;
}



.content .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    border-bottom: solid 1px var(--text-72);
    padding: 16px 0px;
    
}

.header .current-user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    border: solid 1px var(--text-40);
}

.header .current-user-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    
}

.header .search-bar:hover {
    background-color: var(--background-shade);
}


.chat-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.chat-content .chat-list {
    border-right: solid 1px var(--text-72);
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
    padding-bottom: 16px;
}

.chat-list .chat-type-con {
    width: 100%;
    height: fit-content;
    padding-right: 16px;
}

.chat-list .chat-type {
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    padding: 0px 16px;
    border-bottom: solid 1px  var(--text-72);
}

.chat-type .type-icon {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.type-icon label {
    cursor: pointer;
}


.type-icon .selected {
    display: none;
}

.type-icon #private:checked ~ .private .selected {
    display: block;
}

.type-icon #private:checked ~ .private .default {
    display: none;
}

.type-icon #private:checked ~ .private .selected svg,
.type-icon #group:checked ~  .group .selected svg
{
    border-bottom: solid 4px var(--text);
    border-radius: 4px;
}

.type-icon #group:checked ~ .group .selected {
    display: block;
}

.type-icon #group:checked ~ .group .default {
    display: none;
}



.private-chat,
.group-chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto; /* Make the container scrollable if content overflows */
    padding-right: 16px;
    /* gap: 10px; */
    /* Remove height: 100% to allow dynamic height */
}

.chat-card {
    border-bottom: solid 1px var(--text-72);
    padding: 8px;
    overflow: hidden;
    min-height: 72px; /* Use min-height instead of fixed height */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
}



.chat-card:hover {
    background-color: var(--background-shade);
}

.chat-card .profile {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 12px;
    
}

.profile .picture {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    overflow: hidden;
    border: solid 1px var(--text-40);
}

.picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile .detail {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--text-72);
    flex-grow: 1;
}

.detail .name {
    line-height: 24px;
    color: var(--text-72);
}

.selected-chat {
    position: relative;
    width: 60%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


.user-profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 16px;
    gap: 16px;
    height: 100%; /* Ensures it takes up full height */
    overflow: hidden;
    flex-grow: 1; /* Ensures the container grows with content */
}

.user-profile .profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
    border-bottom: solid 1px var(--text-72);
}

.user-profile .profile .picture {
    width: 120px;
    height: 120px;
}

.user-profile .profile .picture img {
    width: 120px;
    height: 120px;
    border: solid 1px var(--text-40);
    border-radius: 100%;
}

.user-profile .profile .detail-con {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.detail-con .details {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 4px;
    width: fit-content;
    max-width: 360px;
}

.about-user {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    height: 100%; 
    flex-grow: 1;
    overflow: hidden; 
}

.about-user .about-nav {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.about-nav label {
    cursor: pointer;
    padding: 8px 32px;
    border-radius: 14px;
}

.about-nav #user-post:checked + label,
.about-nav #group-owner:checked + label {
    padding: 8px 32px;
    border-radius: 14px;
    background-color: var(--background-shade);
}

.post-con {
    width: 100%;
    min-height: 300px; 
    max-height: 100%;
    overflow: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-bottom: 260px;

}

.post-con .post {
    max-width: 600px;
    min-width: 200px;
    width: 100%;
    height: fit-content;
    border: solid 1px var(--gray);
    border-radius: 14px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}


.post .post-profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 12px;
}

.post .post-profile .picture {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    overflow: hidden;
    border: solid 1px var(--text-40);
}

.post-profile .picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post .post-profile .detail {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--text-72);
    flex-grow: 1;
}

.post .detail p {
    line-height: 24px;
}

.post-content {
    height: 180px;
    overflow: hidden;
}


.see-more-btn {
    all: unset;
    cursor: pointer;
    width: fit-content;
    padding: 8px;
    border-radius: 14px;
}

.see-more-btn:hover {
    background-color: var(--background-shade);
}

.post .post-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 14px;
}

.post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.post .post-engagement {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.post-engagement .engagement-pair {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.post-engagement .like {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    color: var(--text-72);
}

.engagement-pair .comment {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.post-engagement .save {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    color: var(--text-72);
}


.group-con {
    width: 100%;
    max-height: 500px; 
    overflow: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.group-card {
    border-bottom: solid 1px var(--text-72);
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding: 12px;
    height: fit-content; 
    cursor: pointer;
    text-decoration: none;

}

.group-card:hover {
    background-color: var(--background-shade);
}


.group-card .group-pic {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    overflow: hidden;
}

.group-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.group-card .group-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.group-detail .group-name,
.group-detail .group-description {
    width: 100%;
    overflow: hidden;
}


.user-profile-content {
    display: none;
}

.chat-with-btn {
    border: solid 1px var(--primary);
    border-radius: 8px;
    background-color: var(--primary);
    color: var(--background);
    padding: 8px 20px;
    text-decoration: none;
}

@media screen and (max-width: 832px) {
    .content {
        display: none;
    }

    .user-profile-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .user-profile-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0px 16px;
        gap: 16px;
        height: 100%; /* Ensures it takes up full height */
        overflow: hidden;
        flex-grow: 1; /* Ensures the container grows with content */
    }


    .user-profile-content .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        width: 100%;
        border-bottom: solid 1px var(--text-72);
        padding: 16px 0px;
        
    }
    
    .user-profile-content .profile {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        padding: 16px;
        border-bottom: solid 1px var(--text-72);
    }
    
    .user-profile-content .profile .picture {
        width: 120px;
        height: 120px;
    }
    
    .user-profile-content .profile .picture img {
        width: 120px;
        height: 120px;
        border: solid 1px var(--text-40);
        border-radius: 100%;
    }
    
    .user-profile-content .profile .detail-con {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 8px;
    
    }
    
    .detail-con .details {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row;
        gap: 4px;
        width: fit-content;
        max-width: 360px;
    }
    
    .about-user {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;
        height: 100%; 
        flex-grow: 1;
        overflow: hidden; 
    }
    
    .about-user .about-nav1 {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }
    
    .about-nav1 label {
        cursor: pointer;
        padding: 8px 32px;
        border-radius: 14px;
    }
    
    .about-nav1 #user-post1:checked + label,
    .about-nav1 #group-owner1:checked + label {
        padding: 8px 32px;
        border-radius: 14px;
        background-color: var(--background-shade);
    }
    
    .post-con1 {
        width: 100%;
        min-height: 300px; 
        max-height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 100px;
        gap: 20px;
    }
    
    .post-con1 .post {
        max-width: 600px;
        min-width: 200px;
        width: 100%;
        height: fit-content;
        border: solid 1px var(--gray);
        border-radius: 14px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-bottom: 100px;
    }
    
    
    .post .post-profile {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 12px;
    }
    
    .post .post-profile .picture {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        overflow: hidden;
        border: solid 1px var(--text-40);
    }
    
    .post-profile .picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .post .post-profile .detail {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        color: var(--text-72);
        flex-grow: 1;
    }
    
    .post .detail p {
        line-height: 24px;
    }
    
    .post-content {
        height: 180px;
        overflow: hidden;
    }
    
    
    .see-more-btn {
        all: unset;
        cursor: pointer;
        width: fit-content;
        padding: 8px;
        border-radius: 14px;
    }
    
    .see-more-btn:hover {
        background-color: var(--background-shade);
    }
    
    .post .post-img {
        width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: 14px;
    }
    
    .post-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
    
    
    .post .post-engagement {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .post-engagement .engagement-pair {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .post-engagement .like {
        all: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        color: var(--text-72);
    }
    
    .engagement-pair .comment {
        all: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .post-engagement .save {
        all: unset;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        color: var(--text-72);
    }
    
    
    .group-con1 {
        width: 100%;
        max-height: 500px; 
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 100px;

    }
    
    .group-card {
        border-bottom: solid 1px var(--text-72);
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
        padding: 12px;
        height: fit-content; 
        cursor: pointer;
        text-decoration: none;
    
    }
    
    .group-card:hover {
        background-color: var(--background-shade);
    }
    
    
    .group-card .group-pic {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        overflow: hidden;
    }
    
    .group-pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .group-card .group-detail {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .group-detail .group-name,
    .group-detail .group-description {
        width: 100%;
        overflow: hidden;
    }
}

html { font-size: 100%; } 

* {
    font-family: "inter";
    margin: 0%;
    font-weight: 300;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    position: absolute; /* Position it absolutely */
    left: 0; /* Position it on the left */
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7); /* Color of the scrollbar thumb */
    border-radius: 4px; /* Round corners */
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.9); /* Color on hover */
}

/* Additional styles for scrollable area */
*::before {
    content: ''; /* Empty content for custom positioning */
    position: absolute;
    top: 0;
    left: 0;
    width: 8px; /* Match scrollbar width */
    height: 100%; /* Full height */
    background: transparent; /* Transparent background */
    pointer-events: none; /* Allow clicks through */
}

h1 {
    font-size: 56px; 
    line-height: 1.2; 
    color: var(--text);
    font-weight: 400;

}
  /* *Sub Heading */
h2 {
    font-size: 40px; 
    line-height: 1.3; 
    color: var(--text);
    font-weight: 400;

}
  /* *Labels */
h3 {
    font-size: 28px; 
    line-height: 1.4; 
    color: var(--text);
    font-weight: 400;

}
  
  /* *Paragraphs */
p {
    font-size: 16px; 
    color: var(--text);
    line-height: 1.6;
    margin: 0;
    font-weight: 300;

} 
  /* *Small text */
small {
    font-size: 12px; 
    line-height: 1.5; 
    color: var(--text);
}


strong {
    font-weight: 500;
    
}

 
:root[data-theme="light"] {
    --text: #0f1314;
    --text-72: #0f1314b8; 
    --text-60: #0f131499; 
    --text-40: #0f131466; 
    --background: #f9fbfb; 
    --primary: #1D7A81;
    --secondary: #7edbe2;
    --accent: #17c7d3;
    --background-shade: #F0F0F0;
    --gray: #E0E5E5;
    
}
  
    
:root[data-theme="dark"] {
    --text: #ebeff0;
    --text-72: #ebeff0b8; /* 72% opacity */
    --text-60: #ebeff099; /* 60% opacity */
    --text-40: #ebeff066; /* 40% opacity */
    --background: #040606;
    --primary: #92d3d8;
    --secondary: #27686D;
    --accent: #2cdbe8;
    --background-shade: #0A0C0D;
    --gray: #0E1011;
    
}

:root[data-theme="light"] .logo-white {
    display: none; /* Show the white logo in light theme */
}

:root[data-theme="light"] .logo-black {
    display: block; /* Show the white logo in light theme */
}

:root[data-theme="dark"] .logo-white {
    display: block; /* Show the black logo in dark theme */
}

:root[data-theme="dark"] .logo-black {
    display: none; /* Show the black logo in dark theme */
}


:root[data-theme="light"] .light-icon {
    display: none; /* Show the white logo in light theme */
}

:root[data-theme="light"] .dark-icon {
    display: block; /* Show the white logo in light theme */
}

:root[data-theme="dark"] .light-icon {
    display: block; /* Show the black logo in dark theme */
}

:root[data-theme="dark"] .dark-icon {
    display: none; /* Show the black logo in dark theme */
}

#theme-toggle {
    all: unset;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#theme-toggle:hover {
    background-color: var(--background-shade);
}

.nav-bar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 72px;
    background-color: var(--background-shade);
  
}
  

  
.nav-bar .nav-icon {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 14px;
    cursor: pointer;
}

.nav-bar .nav-icon:hover {
    background-color: var(--gray);
}



.nav-icon.active .default {
    display: none;
}

.nav-icon.active .selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.nav-icon .selected {
    display: none;
    
}


.dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.dialog {
    all: unset;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: var(--background-shade);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    transform: translateX(-100%);
    transition: transform 0.4s ease, visibility 0.4s ease;
    visibility: hidden;
}

.dialog[open] {
    visibility: visible;
    transform: translateX(0);
}

.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.dialog-content:hover .dialog-icon {
    background-color: var(--gray);
}

.dialog-content .dialog-icon {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog button {
    all: unset;
    cursor: pointer;
    text-align: center;
    color: var(--text-72);
    font-size: 16px;
    background-color: var(--gray);
    padding: 12px 56px;
    border-radius: 14px;
}

.header .back-btn svg {
    display: none;
}

@media (max-width: 832px) {
    body {
        flex-direction: column; 
    }

    .header .back-btn svg {
        display: block;
    }

    .nav-bar {
        height: 72px; 
        width: 100%; 
        order: 2; 
        flex-direction: row; 
        justify-content: space-between; 
        position: fixed;
        bottom: 0;
        gap: 0px;
    }

    .content {
        order: 1; 
        flex-grow: 1; 
        overflow-y: auto; 
        height: 100vh;
        width: 100%;
    }

    .dialog {
        all: unset;
        position: fixed;
        bottom: -100%; 
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: var(--background-shade);
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        display: flex;
        flex-wrap: wrap; 
        align-items: center;
        justify-content: space-evenly; 
        gap: 28px; 
        transform: translateY(100%);
        transition: transform 0.4s ease, visibility 0.4s ease;
        visibility: hidden;
        padding: 16px;
        box-sizing: border-box;
    }

    .dialog[open] {
        visibility: visible;
        transform: translateY(0); 
        bottom: 0; 
    }

    .dialog-content {
        flex: 1 0 45%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
