{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/feed/create-post.css' %}" />
    <title>Conveza | Create Post</title>
  </head>
  <body>
    <div class="header">
      <div class="back-btn">
        <svg
          onclick="historyBack()"
          xmlns="http://www.w3.org/2000/svg"
          height="40px"
          viewBox="0 -960 960 960"
          width="40px"
          fill="var(--text-72)"
        >
          <path
            d="M287-446.67 503.67-230q10 10 9.83 23.33-.17 13.34-10.17 23.34-10 9.66-23.33 9.83-13.33.17-23.33-9.83L183.33-456.67q-5.33-5.33-7.5-11-2.16-5.66-2.16-12.33t2.16-12.33q2.17-5.67 7.5-11l273.34-273.34q9.66-9.66 23.16-9.66t23.5 9.66q10 10 10 23.5t-10 23.5L287-513.33h479.67q14.33 0 23.83 9.5 9.5 9.5 9.5 23.83 0 14.33-9.5 23.83-9.5 9.5-23.83 9.5H287Z"
          />
        </svg>
      </div>
      <h2>New Post</h2>

      <a href="{% url 'my-profile' %}" class="current-user-profile">
        {% if user.profile_picture %}
        <img src="{{ user.profile_picture.url }}" alt="Profile Picture" />
        {% else %}
        <img src="{% static 'images/blank-pp.png' %}" alt="profile picture" />

        {% endif %}
      </a>
    </div>
    <form action="{% url 'create-post' %}" class="post-form" method="post">
      {% csrf_token %}

      <textarea
        name="post_body"
        id="post"
        placeholder="Write your post here..."
      ></textarea>
      <div class="image-con">
        <div class="image-con">
          <img id="preview-image" alt="Selected Image" style="display: none" />
        </div>
      </div>
      <div class="image-btn">
        <p><strong>Image</strong>(Optional):</p>
        <input
          type="file"
          name="post_image"
          id="id_post_image"
          style="display: none"
          onchange="handleFileChange(event)"
          accept="image/*"
        />
        <label for="id_post_image" id="file-label">Choose a file</label>
      </div>

      <div class="submit-btn">
        <button type="submit">Post</button>
      </div>
    </form>
  </body>
  <script src="{% static 'js/theme.js' %}"></script>
  <script src="{% static 'js/feed/create-post1.js' %}"></script>
</html>
